@use "sass:map";
@import '../variables';

@font-face{
  font-family: 'Source Sans 3';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('~source-sans/WOFF2/OTF/SourceSans3-Regular.otf.woff2') format('woff2'),
  url('~source-sans/WOFF/OTF/SourceSans3-Regular.otf.woff') format('woff');
}

/* Typography */
$font-weights: (
  regular: 400,
  medium: 500,
  light: 300,
);
$text-transforms: (
  sentence: none,
  allcaps: uppercase,
);

$typography-map: (
  headline1: (
    font: $font-family,
    font-size: 96,
    font-weight: light,
    case: sentence,
    letter-spacing: -1.5,
  ),
  headline2: (
    font: $font-family,
    font-size: 60,
    font-weight: light,
    case: sentence,
    letter-spacing: -0.5,
  ),
  headline3: (
    font: $font-family,
    font-size: 48,
    font-weight: regular,
    case: sentence,
    letter-spacing: 0,
  ),
  headline4: (
    font: $font-family,
    font-size: 34,
    font-weight: regular,
    case: sentence,
    letter-spacing: 0.25,
  ),
  headline5: (
    font: $font-family,
    font-size: 24,
    font-weight: regular,
    case: sentence,
    letter-spacing: 0,
  ),
  headline6: (
    font: $font-family,
    font-size: 20,
    font-weight: medium,
    case: sentence,
    letter-spacing: 0.15,
  ),
  body1: (
    font: $font-family,
    font-size: 16,
    font-weight: regular,
    case: sentence,
    letter-spacing: 0.5,
  ),
  body2: (
    font: $font-family,
    font-size: 14,
    font-weight: regular,
    case: sentence,
    letter-spacing: 0.25,
  ),
  subtitle1: (
    font: $font-family,
    font-size: 16,
    font-weight: regular,
    case: sentence,
    letter-spacing: 0.15,
  ),
  subtitle2: (
    font: $font-family,
    font-size: 14,
    font-weight: regular,
    case: sentence,
    letter-spacing: 0.1,
  ),
  button: (
    font: $font-family,
    font-size: 14,
    font-weight: medium,
    case: allcaps,
    letter-spacing: 0,
  ),
  overline: (
    font: $font-family,
    font-size: 10,
    font-weight: regular,
    case: allcaps,
    letter-spacing: 1.5,
  ),
  caption: (
    font: $font-family,
    font-size: 12,
    font-weight: regular,
    case: sentence,
    letter-spacing: 0.4,
  ),
);

.bgis * {
  font-family: $font-family;
}

@each $name, $values in $typography-map {
  %bgis-#{$name} {
    font-size: #{map.get($values, font-size) * $px-rem-conv-rate}rem;
    font-family: map.get($values, font);
    font-weight: map.get($font-weights, map.get($values, font-weight));
    letter-spacing: #{map.get($values, letter-spacing) * $px-rem-conv-rate}rem;
    text-transform: map.get($text-transforms, map.get($values, case));
    line-height: 1.1;
    //padding: #{map.get($values, font-size) * $px-rem-conv-rate * .15}rem   0 #{map.get($values, font-size) * $px-rem-conv-rate * 0.15}rem 0;
  }

  .bgis-#{$name} {
    @extend %bgis-#{$name};
  }
}
