{
    "extends": "stylelint-config-recommended-scss",
    "rules": {
        "no-invalid-position-at-import-rule": null,
        "scss/at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "tailwind",
                    "apply",
                    "variants",
                    "responsive",
                    "screen"
                ]
            }
        ]
    }
}
