@use 'sass:color';
@import "~/src/bgis/variables";

.bgis-map .bgis-footer {
  display: none;
  @media only screen and (min-width: $desktop-view-width) {
    @apply inline-flex flex-row;
    bottom: 0;
    height: $map-footer-height;
    position: absolute;
    right: 5px;
    max-width: calc(100% - ($overview-image-width-calc) - 11px);

    div {
      @apply shadow-lg;
      background-color: color.adjust($primary-color, $alpha: -0.1);
      border-radius: 5px 5px 0 0;
      font-size: 12px;
      margin: 0 2px;
      opacity: 0.9;
      padding: 3px;
      box-sizing: content-box;
    }
  }
}
