extends ../../tpl/site.pug
block content
    h2
        block title
    block mapContainer
        div(class="map-border renderedHtml" style="height:400px")
            block map
    div(class="mt-3")
        block mapAdditions
    p(class="lead mt-5")
        block description
    h3(class="mt-3") Typescript
    pre
        code(class="typescript")
            block ts
    h3(class="mt-3") HTML
    pre
        code(id="htmlCode" class="html")

block footerScripts
    script
        | const lookup = {
        |   '&': "&amp;",
        |   '"': "&quot;",
        |   '<': "&lt;",
        |   '>': "&gt;"
        | };
        | $('.renderedHtml').each(function(i, obj) {
        |   $('#htmlCode').text($('#htmlCode').text() + "\n" + $(obj).html().trim());
        | });
        | hljs.highlightAll();
