extends ../tpl/site.pug
block vars
    - var headTitle = 'API Dokumentation'
block contentWrapper
    main(role="main" class="container w-100 min-100 h-100")

        block content
            iframe(frameborder="0" class="min-100 w-100 h-100" src="api/" allowfullscreen)

