@import "~/src/bgis/variables";

.ol-attribution.bgis-copyright {
  button {
    background-color: transparent;
    outline: none;
    font-size: 12px;
    font-weight: normal;
    color: black;
  }

  ul {
    color: #000;
    margin: 0;
    padding: 0 5px;
    text-shadow: 0 0 2px #fff;
    overflow: hidden;
    white-space: nowrap;
  }

  li {
    display: inline;
    list-style: none;
    font-size: $map-footer-font-size;
    line-height: $map-footer-font-size;

    & > * {
      font-size: $map-footer-font-size;
      line-height: $map-footer-font-size;
    }
  }

}
