@use "sass:math";

@import "~/src/bgis/variables";

.bgis-map .bgis-footer .bgis-mouseposition {
  color: black;
  line-height: $map-footer-font-size;
  font-size: $map-footer-font-size;
  min-width: 118px;
  padding: 6px;
  position: unset;
}
