@import "~/src/bgis/variables";
@import "~/src/bgis/mixins"; 
/* zoom */

%zoom-button {
  //@extend %interactable-icon;
  @apply shadow-lg;
  @include desktop-only();
  background-color: $primary-color;
  width: 3 * $grid-size;
  height: 3 * $grid-size;
  display: none;
  font-size: $small-icon-height;
  line-height: $small-icon-height;
  font-weight: bold;
  border: unset;
}


.ol-control.zoom-container {
  @apply hidden md:inline-flex md:flex-col;

  .ol-zoom-in {
    @extend  %small-interactable-icon-button;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid $secondary-color-dark !important; // TODO find a way around !important
  }

  .ol-zoom-out {
    @extend  %small-interactable-icon-button;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.bgis-map .ol-control .zoom-in:hover,
.bgis-map .ol-control .zoom-out:hover {
  color: var(--bgis-text-color-dark);
  font-weight: bolder;
}
