@use "sass:math";
@use 'sass:color';
// variables
$small-grid-size:0.25rem;
$grid-size:0.5rem;

$map-footer-height: 3 * $grid-size;
$map-footer-height: 3 * $grid-size;
$map-footer-font-size: 3 * $small-grid-size;

$desktop-view-with-val: 768;
$desktop-view-width: $desktop-view-with-val * 1px;
$desktop-menu-width: 23rem;

$icon-height: 5 * $small-grid-size;
$icon-border-size: 5 * $grid-size;
$icon-border-radius: math.div($icon-border-size, 2);

$small-icon-height: 2 * $grid-size;
$small-icon-border-radius: math.div($icon-border-radius, 10);

$button-height: 5 * $grid-size; // material design minimal height
$small-button-height: 3 * $grid-size;

$overview-image-width-calc: calc(40px + 10vw);

// colors
$lighten:30%;
$lighter:70%;
$darken:-30%;

$primary-color: #e5ecf0 !default;
$primary-color-light: color.adjust($primary-color, $lightness: $lighten ) !default;
$primary-color-dark: color.adjust($primary-color,  $lightness:   $darken) !default;

$secondary-color: #ffff !default;
$secondary-color-light: color.adjust($secondary-color,  $lightness: $lighten) !default;
$secondary-color-dark: color.adjust($secondary-color,  $lightness: $darken) !default;

$background-color: #ffff;

$text-color:  #000000;
$text-color-light: color.adjust($text-color, $lightness: $lighten) !default;
$text-color-lighter: color.adjust($text-color,  $lightness: $lighter) !default;
$text-color-dark: #ac371b; // color.adjust($text-color,  $lightness: $darken) !default;

$link-color: #00436b;
$link-color-light: color.adjust($link-color, $lightness: $lighten) !default;
$link-color-dark: color.adjust($link-color, $lightness:  $darken) !default;

$focus-color: rgb(172, 55, 27);

/* font */
$font-family: "Source Sans 3", sans-serif; // Die laut Styleguide AT zu verwendende Schrift
$font-size: 16;
/* icons */
$icon-font-family: Bund-GIS;
$icon-font-path: '~/src/bgis/fonts' !default;

$icon-map : (
  /* icon-01 */
  sign-out: '\e900',
  /* icon-02 */
  attention: '\e901',
  /* icon-03 */
  close-circle: '\e902',
  /* icon-04 */
  question-circle: '\e903',
  /* icon-05 */
  information-circle: '\e904',
  /* icon-06 */
  check-circle: '\e905',
  /* icon-07 */
  bulb: '\e906',
  /* icon-08 */
  more-four: '\e907',
  /* icon-09 */
  icon-09: '\e908',
  /* icon-10 */
  icon-10: '\e909',
  /* icon-11 */
  icon-11: '\e90a',
  /* icon-12 */
  icon-12: '\e90b',
  /* icon-13 */
  icon-13: '\e90c',
  /* icon-14 */
  pdf: '\e90d',
  /* icon-15 */
  icon-15: '\e90e',
  /* icon-16 */
  icon-16: '\e90f',
  /* icon-17 */
  icon-17: '\e910',
  /* icon-18 */
  icon-18: '\e911',
  /* icon-19 */
  print: '\e912',
  /* icon-20 */
  draw: '\e913',
  /* icon-21 */
  icon-21: '\e914',
  /* icon-22 */
  icon-22: '\e915',
  /* icon-23 */
  sliders: '\e916',
  /* icon-24 */
  icon-24: '\e917',
  /* icon-25 */
  icon-25: '\e918',
  /* icon-26 */
  icon-26: '\e919',
  /* icon-27 */
  icon-27: '\e91a',
  /* icon-28 */
  icon-28: '\e91b',
  /* icon-29 */
  delete: '\e91c',
  /* icon-30 */
  search: '\e91d',
  /* icon-31 */
  bars: '\e91e',
  /* icon-32 */
  chevron-left: '\e91f',
  /* icon-33 */
  chevron-left-sm: '\e920',
  /* icon-34 */
  chevron-up: '\e921',
  /* icon-35 */
  chevron-right: '\e922',
  /* icon-36 */
  chevron-right-sm: '\e923',
  /* icon-37 */
  times: '\e924',
  /* icon-38 */
  chevron-down: '\e925',
  /* icon-39 */
  icon-39: '\e926',
  /* icon-40 */
  times-sm: '\e927',
  /* icon-41 */
  map-marker: '\e928',
  /* icon-42 */
  icon-42: '\e929',
  /* icon-43 */
  icon-43: '\e92a',
  /* icon-44 */
  icon-44: '\e92b',
  /* icon-45 */
  share: '\e92c',
  /* icon-46 */
  icon-46: '\e92d',
  /* icon-47 */
  icon-47: '\e92e',
  /* icon-48 */
  icon-48: '\e92f',
  /* icon-49 */
  icon-49: '\e930',
  /* icon-50 */
  icon-50: '\e931',
  /* icon-51 */
  icon-51: '\e932',
  /* icon-52 */
  microphone: '\e933',
  /* icon-53 */
  plus: '\e934',
  /* icon-54 */
  minus: '\e935',
  /* icon-55 */
  crosshairs: '\e936',
  /* icon-56 */
  list: '\e937',
  /* icon-57 */
  layer-group: '\e938',
  /* icon-58 */
  zoom-in: '\e939',
  /* icon-59 */
  icon-59: '\e93a',
  /* icon-60 */
  tools: '\e93b',
  /* icon-61 */
  measure: '\e93c',
  /* icon-62 */
  import: '\e93d',
  /* icon-63 */
  export: '\e93e',
  /* icon-64 */
  expand: '\e93f',
  /* icon-65 */
  map: '\e940',
  /* icon-66 */
  undo: '\e941',
  /* icon-67 */
  redo: '\e942',
  /* icon-68 */
  icon-68: '\e943',
  /* icon-69 */
  icon-69: '\e944',
  /* icon-70 */
  tornado: '\e945',
  /* icon-71 */
  icon-71: '\e946',
  /* icon-72 */
  icon-72: '\e947',
  /* icon-73 */
  icon-73: '\e948',
  /* icon-74-1 */
  icon-74-path1: '\e949',
  /* icon-74-2 */
  icon-74-path2: '\e94a',
  /* icon-75 */
  icon-75: '\e94c',
  /* icon-76 */
  icon-76: '\e94d',
  /* icon-77 */
  icon-77: '\e94b',
);

/* needed for typography */
$px-rem-conv-rate: 0.0625;

// css variable definitions
:root {
    --bgis-primary-color: #{$primary-color};
    --bgis-primary-color-light: #{$primary-color-light};
    --bgis-primary-color-dark:  #b2c7d3;
    --bgis-secondary-color: #{$secondary-color};
    --bgis-secondary-color-light: #{$secondary-color-light};
    --bgis-secondary-color-dark: #{$secondary-color-dark};
    --bgis-background-color:#{$background-color};
    --bgis-text-color:#{$text-color};
    --bgis-text-color-light: #{$text-color-light};
    --bgis-text-color-lighter: #{$text-color-lighter};

    --bgis-text-color-dark: #{$text-color-dark};
    --bgis-link-color: #{$link-color} ;
    --bgis-link-color-light: #{$link-color-light};
    --bgis-link-color-dark: #{$link-color-dark};
    --bgis-focus-color: #{$focus-color};
    // fonts
    --bgis-font-family: #{$font-family};
    --bgis-icon-font-family: #{$icon-font-family};
    --bgis-icon-font-path: #{$icon-font-path};
    // icons
    --bgis-icon-size: 1.5rem;
    --bgis-icon-border-size: 2.5rem;
    --bgis-icon-border-radius: 1.25rem;
    // sizes
    --bgis-font-size: #{$font-size};
    --bgis-grid-size: #{$grid-size};
    --bgis-small-grid-size: #{$small-grid-size};
    --bgis-desktop-view-width: #{$desktop-view-width};
    --bgis-desktop-menu-width: #{$desktop-menu-width};
    --bgis-list-view-splitter-width: #{1px};
    --bgis-list-view-width: #{$desktop-menu-width};
    --bgis-max-toolbar-width: #{$desktop-menu-width};
}
