extends ../tpl/example.pug
block vars
    - var headTitle = 'Beispiel Double "Core Features" Integration'
block title
    | Double "Core Features" Integration
block map
    div(class="bgis-map" id="bgis-map")
block mapAdditions
    div(class="map-border mt-5 renderedHtml bgis" style="height:400px")
        div(class="bgis-map" id="bgis-map-2")
block description
    | Hier werden zwei völlig eigenständige Maps eingebunden, um zu sehen, dass es keine Überschneidungen bei den
    | DOM-Manipulationen gibt.
block ts
    include core-features-double.ts
