extends ../tpl/example.pug
block vars
    - var headTitle = 'Beispiel "Full Features" Integration'
block title
    | "Full Features" Integration
block mapContainer
        div(class="mb-3")
            button(class="btn btn-sm btn-outline-secondary mr-1" onclick='document.querySelector(".bgis-map-area").classList.toggle("hide-quicklink");return false;') toggle quicklink
            button(class="btn btn-sm btn-outline-secondary mr-1" onclick='document.querySelector(".bgis-map-area").classList.toggle("show-map-details");return false;') toggle details
            button(class="btn btn-sm btn-outline-secondary mr-1" onclick='document.querySelector(".bgis-map-area").classList.toggle("show-search-details");return false;') toggle search results in details
            button(class="btn btn-sm btn-outline-secondary mr-1" onclick='document.querySelector(".bgis-map-area").classList.toggle("show-toolbar");return false;') toggle tool box
            button(class="btn btn-sm btn-outline-secondary mr-1" onclick='document.querySelector(".bgis-map-area").classList.toggle("show-basemap");return false;') toggle Begleitkarten
            button(class="btn btn-sm btn-outline-secondary mr-1" onclick='document.querySelector(".bgis-body").classList.toggle("show-app-menu");return false;') toggle app menu
            button(class="btn btn-sm btn-outline-secondary mr-1" onclick='document.querySelector(".bgis-body").classList.toggle("show-listview");return false;') toggle list view
            p
            small(lang="en") These buttons partly simulate the click handlers of your framework (e.g. React, Angular)
        div(class="map-border renderedHtml" style="height:500px")
            block map
                include ../../../templates/bgis/client

block description
    | Das Beispiel zeigt den kompletten Rahmen, den bgis bietet. Die <a href="example-core-features.html">Core-Features</a> wurden ergänzt durch einen Header für
    | z.B. Anwendungsnamen, Links und Logo. Im linken Bereich sieht man außerdem Vorlagen für erweiterte Karteninteraktionen, wie z.B Suche, Suchergebnisliste und Detailansichten.
    | Diese Vorlagen sind zwar mit HTML und CSS durch bgis umgesetzt, sie dienen jedoch nur als Ausgangspunkt einer möglichen Javascript-Integration durch ein
    | externes Framework wie React, Angular oder Vue.js. Die Buttons im oberen Bereich und das Einbinden der UiInteraction-Klasse simulieren (unvollständig) mögliche Clickhandler eines externen Frameworks.
block ts
    include full-features.ts
