@import "~/src/bgis/variables";
@import '~/src/bgis/mixins';

/* toggleButton */

.bgis-control.ol-control {
  background: transparent;

  input {
    display: none;
  }

  .bgis-icon-button {
    background-color: $primary-color;
    text-align: center;
    line-height: 40px;
  }

  input + .bgis-icon-button::after {
    content: attr(data-unchecked);
  }

  input:checked + .bgis-icon-button::after {
    content: attr(data-checked);
  }
}

.bgis-overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  pointer-events: auto;
}
