@use "sass:math";

@import "~/styles/scss/globals"; // get the global definitions

div.collapsible.bgis-icon {
  // @include box-shadow();
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.bgis-map-area > .collapsible {
  display: none;
}

.bgis-sidebar.show-detail .collapsible {
  @include box-shadow-right();
  @media only screen and (min-width: $desktop-min-width) {
    display: unset;
  }
  left: $desktop-menu-width + $grid-size;
  top: $small-grid-size;
  height: $search-header-height;
  line-height: $search-header-height;
  padding-left: $small-grid-size;
  padding-right: $small-grid-size;
  background-color: $background-color;
  border-top-right-radius: $small-grid-size;
  border-bottom-right-radius: $small-grid-size;
  // box-shadow: -9px 0 0px 0px $background-color, 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bgis-header.hide ~ .bgis-show-header {
  @include box-shadow();
  @media only screen and (min-width: $desktop-min-width) {
    display: unset;
    top: 0;
    right: 11px;
    text-align: center;
    width: $button-height;
    background-color: $secondary-color;
    border-bottom-left-radius: $small-grid-size;
    border-bottom-right-radius: $small-grid-size;
  }
}

.bgis-sidebar.hide ~ .bgis-show-sidebar {
  @include box-shadow-right();
  @media only screen and (min-width: $desktop-min-width) {
    display: unset;
    top: $grid-size;
    margin-top: math.div($small-grid-size, 2);
    text-align: center;
    height: $button-height;
    line-height: $button-height;
    background-color: $secondary-color;
    border-top-right-radius: $small-grid-size;
    border-bottom-right-radius: $small-grid-size;
  }
}
