@import './variables-fonts';

@mixin font($font-family, $font-file) {
  @font-face {
    font-display: block;
    font-family: '#{$font-family}';
    font-style: normal;
    font-weight: normal;
    src: url('#{$font-file}.eot?hv5vh0');
    src: url('#{$font-file}.eot?hv5vh0#iefix') format('embedded-opentype'),
      url('#{$font-file}.ttf?hv5vh0') format('truetype'),
      url('#{$font-file}.woff?hv5vh0') format('woff'),
      url('#{$font-file}.svg?hv5vh0##{$font-family}') format('svg');
  }
}

@include font($bgis-font-family, $bgis-font-path + '/Bund-GIS');

[class^='bgis-icon-'],
[class*=' bgis-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$bgis-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgis-icon-sign-out {
  &:before {
    content: $icon-sign-out;
  }
}
.bgis-icon-attention {
  &:before {
    content: $icon-attention;
  }
}
.bgis-icon-close-circle {
  &:before {
    content: $icon-close-circle;
  }
}
.bgis-icon-question-circle {
  &:before {
    content: $icon-question-circle;
  }
}
.bgis-icon-information-circle {
  &:before {
    content: $icon-information-circle;
  }
}
.bgis-icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.bgis-icon-bulb {
  &:before {
    content: $icon-bulb;
  }
}
.bgis-icon-more-four {
  &:before {
    content: $icon-more-four;
  }
}
.bgis-icon-icon-09 {
  &:before {
    content: $icon-icon-09;
  }
}
.bgis-icon-icon-10 {
  &:before {
    content: $icon-icon-10;
  }
}
.bgis-icon-icon-11 {
  &:before {
    content: $icon-icon-11;
  }
}
.bgis-icon-icon-12 {
  &:before {
    content: $icon-icon-12;
  }
}
.bgis-icon-icon-13 {
  &:before {
    content: $icon-icon-13;
  }
}
.bgis-icon-pdf {
  &:before {
    content: $icon-pdf;
  }
}
.bgis-icon-icon-15 {
  &:before {
    content: $icon-icon-15;
  }
}
.bgis-icon-icon-16 {
  &:before {
    content: $icon-icon-16;
  }
}
.bgis-icon-icon-17 {
  &:before {
    content: $icon-icon-17;
  }
}
.bgis-icon-icon-18 {
  &:before {
    content: $icon-icon-18;
  }
}
.bgis-icon-print {
  &:before {
    content: $icon-print;
  }
}
.bgis-icon-icon-20 {
  &:before {
    content: $icon-icon-20;
  }
}
.bgis-icon-icon-21 {
  &:before {
    content: $icon-icon-21;
  }
}
.bgis-icon-icon-22 {
  &:before {
    content: $icon-icon-22;
  }
}
.bgis-icon-sliders {
  &:before {
    content: $icon-sliders;
  }
}
.bgis-icon-icon-24 {
  &:before {
    content: $icon-icon-24;
  }
}
.bgis-icon-icon-25 {
  &:before {
    content: $icon-icon-25;
  }
}
.bgis-icon-icon-26 {
  &:before {
    content: $icon-icon-26;
  }
}
.bgis-icon-icon-27 {
  &:before {
    content: $icon-icon-27;
  }
}
.bgis-icon-icon-28 {
  &:before {
    content: $icon-icon-28;
  }
}
.bgis-icon-icon-29 {
  &:before {
    content: $icon-icon-29;
  }
}
.bgis-icon-search {
  &:before {
    content: $icon-search;
  }
}
.bgis-icon-bars {
  &:before {
    content: $icon-bars;
  }
}
.bgis-icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.bgis-icon-chevron-left-sm {
  &:before {
    content: $icon-chevron-left-sm;
  }
}
.bgis-icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.bgis-icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.bgis-icon-chevron-right-sm {
  &:before {
    content: $icon-chevron-right-sm;
  }
}
.bgis-icon-times {
  &:before {
    content: $icon-times;
  }
}
.bgis-icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.bgis-icon-icon-39 {
  &:before {
    content: $icon-icon-39;
  }
}
.bgis-icon-times-sm {
  &:before {
    content: $icon-times-sm;
  }
}
.bgis-icon-map-marker {
  &:before {
    content: $icon-map-marker;
  }
}
.bgis-icon-icon-42 {
  &:before {
    content: $icon-icon-42;
  }
}
.bgis-icon-icon-43 {
  &:before {
    content: $icon-icon-43;
  }
}
.bgis-icon-icon-44 {
  &:before {
    content: $icon-icon-44;
  }
}
.bgis-icon-share {
  &:before {
    content: $icon-share;
  }
}
.bgis-icon-icon-46 {
  &:before {
    content: $icon-icon-46;
  }
}
.bgis-icon-icon-47 {
  &:before {
    content: $icon-icon-47;
  }
}
.bgis-icon-icon-48 {
  &:before {
    content: $icon-icon-48;
  }
}
.bgis-icon-icon-49 {
  &:before {
    content: $icon-icon-49;
  }
}
.bgis-icon-icon-50 {
  &:before {
    content: $icon-icon-50;
  }
}
.bgis-icon-icon-51 {
  &:before {
    content: $icon-icon-51;
  }
}
.bgis-icon-microphone {
  &:before {
    content: $icon-microphone;
  }
}
.bgis-icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.bgis-icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.bgis-icon-crosshairs {
  &:before {
    content: $icon-crosshairs;
  }
}
.bgis-icon-icon-56 {
  &:before {
    content: $icon-icon-56;
  }
}
.bgis-icon-layer-group {
  &:before {
    content: $icon-layer-group;
  }
}
.bgis-icon-icon-58 {
  &:before {
    content: $icon-icon-58;
  }
}
.bgis-icon-icon-59 {
  &:before {
    content: $icon-icon-59;
  }
}
.bgis-icon-tools {
  &:before {
    content: $icon-tools;
  }
}
.bgis-icon-icon-61 {
  &:before {
    content: $icon-icon-61;
  }
}
.bgis-icon-icon-62 {
  &:before {
    content: $icon-icon-62;
  }
}
.bgis-icon-icon-63 {
  &:before {
    content: $icon-icon-63;
  }
}
.bgis-icon-expand {
  &:before {
    content: $icon-expand;
  }
}
.bgis-icon-map {
  &:before {
    content: $icon-map;
  }
}
.bgis-icon-icon-66 {
  &:before {
    content: $icon-icon-66;
  }
}
.bgis-icon-icon-67 {
  &:before {
    content: $icon-icon-67;
  }
}
.bgis-icon-icon-68 {
  &:before {
    content: $icon-icon-68;
  }
}
.bgis-icon-icon-69 {
  &:before {
    content: $icon-icon-69;
  }
}
.bgis-icon-tornado {
  &:before {
    content: $icon-tornado;
  }
}
.bgis-icon-icon-71 {
  &:before {
    content: $icon-icon-71;
  }
}
.bgis-icon-icon-72 {
  &:before {
    content: $icon-icon-72;
  }
}
.bgis-icon-icon-73 {
  &:before {
    content: $icon-icon-73;
  }
}
.bgis-icon-icon-74 .path1 {
  &:before {
    content: $icon-icon-74-path1;
    color: rgb(29, 29, 27);
  }
}
.bgis-icon-icon-74 .path2 {
  &:before {
    content: $icon-icon-74-path2;
    margin-left: -1em;
    color: rgb(255, 212, 0);
  }
}
.bgis-icon-icon-75 {
  &:before {
    content: $icon-icon-75;
  }
}
.bgis-icon-icon-76 {
  &:before {
    content: $icon-icon-76;
  }
}
.bgis-icon-icon-77 {
  &:before {
    content: $icon-icon-77;
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
}
