@use "sass:math";

@import "~/styles/scss/globals"; // get the global definitions
@import "~/styles/scss/client-content";

$info-border-size: math.div($small-grid-size * 3, 4);

.bgis-legend {

  .bgis-legend-layers {
    h4 {
      padding: 0;
      margin:0;
    }
    label {
      margin-bottom: 0;
    }
  }

  pointer-events: auto;
  @include menu(7 * $grid-size + 4 * $grid-size, 2);
  & .bgis-legend-header {
    @include menu-header(7 * $grid-size);
    color: $text-color-dark;
  }
  & .bgis-legend-open {
    @include menu-header(4 * $grid-size);
    background-color: $secondary-color;
  }
  & .bgis-legend-tabs {
    @extend %hide;
  }
  & .bgis-legend-body {
    @extend %hide;
    @include menu-body(7 * $grid-size + 4 * $grid-size);
  }

  &.open {
    flex-grow: 1;
    .bgis-legend-open {
      @extend %hide;
    }
    .bgis-legend-tabs {
      @include menu-header(4 * $grid-size);
      background-color: $secondary-color;
      .bgis-layers-tab {
        border-bottom: $info-border-size $link-color solid;
        font-weight: bolder;
        color: $text-color-dark;
        margin: 0;
        padding-bottom: 2 * $grid-size;
      }
      .bgis-infos-tab {
        color: $text-color-light;
        border-bottom: $text-color-light solid $info-border-size;
        margin: 0;
        padding-bottom: 2 * $grid-size;
      }
    }
    .bgis-legend-layers {
      display: unset;
    }
    .bgis-legend-infos {
      @extend %hide;
    }


  }

  &.open.showinfos {
    .bgis-legend-tabs {
      .bgis-layers-tab {
        color: $text-color-light;
        border-bottom: $text-color-light solid $info-border-size;
      }
      .bgis-infos-tab {
        border-bottom: $info-border-size $link-color solid;
        font-weight: bolder;
        color: $text-color-dark;
      }
    }
    .bgis-legend-layers {
      @extend %hide;
    }
    .bgis-legend-infos {
      display: unset;
    }
  }
  & .bgis-showlegend,
  & .bgis-legend-tabs button.bgis-hidelegend {
    @include center-button();
  }
}

.bgis-map-area.maximizemap .bgis-legend {
  @extend %hide;
}

button.bgis-layers-tab,
button.bgis-infos-tab {
  @extend .bgis-caption;
  border: unset;
  border-bottom: solid $info-border-size $text-color-light;
  font-size: 3 * $small-grid-size;
  height: 2 * $grid-size;
  background-color: unset;
  padding-left: $grid-size;
  padding-right: $grid-size;
}
