@use "sass:math";

@import "./mixins";
@import "./variables";

%rounded-border {
  border-radius: $border-radius;
}

%rounded-border-top {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

%rounded-border-bottom {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

%no-rounded-border-bottom {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

%hover-icon {
  filter: brightness(0.8);
  font-weight: bolder;
}

%disabled-icon {
  filter: brightness(1.2);
}

%align-hz {
  @include flex(row);
  width: 100%;
  align-items: center;
}

%align-vt {
  @include flex(column);
}

%icon {
  background-color: transparent;
  border: none;
  padding: unset;
  //margin: unset;
  color: $text-color;
  direction: ltr;
  display: inline-block;
  font-family: "#{$icon-font-family}";
  /* Support for IE. */
  font-feature-settings: "liga";
  font-size: $icon-height; /* Preferred icon size */
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: $icon-height;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

%interactable-icon {
  @extend %icon;
  @include interactable();
}

%icon-button {
  @extend %icon;
  @include box-shadow();
  width: 5 * $grid-size;
  height: 5 * $grid-size;
  background-color: transparent;
  border-radius: $icon-border-radius;
}

%small-icon-button {
  @extend %icon;
  @include box-shadow();
  width: 3 * $grid-size;
  height: 3 * $grid-size;
  background-color: $primary-color;
  border-radius: $small-icon-border-radius;
  font-size: $small-icon-height;
  line-height: $small-icon-height;
  font-weight: bold;
}

%zoom-button {
  @extend %interactable-icon;
  @include box-shadow();
  @include desktop-only();
  width: 3 * $grid-size;
  height: 3 * $grid-size;
  display: none;
  font-size: $small-icon-height;
  line-height: $small-icon-height;
  font-weight: bold;
  border: unset;
}

%interactable-icon-button {
  @extend %icon-button;
  @include interactable();
}

%small-interactable-icon-button {
  @extend %small-icon-button;
  @include interactable();
}

%button {
  @include box-shadow();
  @include interactable();
  background-color: $primary-color;
  border-radius: $small-grid-size;
  padding: $small-grid-size $grid-size $small-grid-size $grid-size;
  border: unset;
}

%txt {
  @extend %align-vt;
  @include flex-grow(1);
  & > * {
    margin: unset;
    padding: unset;
  }
}

%hide {
  display: none;
}

%content-padding-base {
  box-sizing: border-box;
  & > * {
    margin-left: 12px;
    margin-right: 12px;
  }
  & :first-child {
    margin-left: unset;
  }
  & :last-child {
    margin-right: unset;
  }
}

%content-padding {
  @extend %content-padding-base;
  padding: 4px 0 12px 0;
}

%content-padding-dense {
  @extend %content-padding-base;
  padding: 4px 0 4px 0;
}

%h-align-left {
  justify-content: flex-start;
}
%h-align-right {
  justify-content: flex-end;
}
%h-align-center {
  justify-content: center;
}
%v-align-top {
  align-items: flex-start;
}
%v-align-middle {
  align-items: center;
}
%v-align-bottom {
  align-items: flex-end;
}

%media {
  width: calc(100% - 2 * 2 * #{$grid-size});
}

%box-sizing * {
  box-sizing: border-box;
}

%list-base {
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  height: 100%;
}

%list {
  @extend %list-base;
  & li {
    padding-bottom: 12px;
    & > ul {
      padding-left: $small-grid-size;
    }
  }
}

%list-dense {
  @extend %list-base;
  & li > ul {
    padding-left: $grid-size;
  }
}

/* The bgis scrollbar style */
%bgis-scrollbar {
  /* width */
  ::-webkit-scrollbar {
    width: $small-grid-size;
    margin-left: $small-grid-size;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: $scrollbar-background-color;
    background-clip: padding-box;
    border-radius: math.div($small-grid-size, 2);
  }

  ::-webkit-scrollbar-thumb {
    background: $link-color;
    background-clip: padding-box;
    //border-right: $small-grid-size $secondary-color solid;
    border-radius: math.div($small-grid-size, 2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $link-color-dark;
  }

  .bgis-scrollbar {
    scrollbar-color: $link-color $scrollbar-background-color;
    scrollbar-width: thin;
  }
}

%card {
  width: auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  @include flex(column);
}
