@import "~/styles/scss/globals"; // get the global definitions
@import "~/styles/scss/client-content";

.bgis-quicklink {
  pointer-events: auto;
  @include menu(11 * $grid-size, 3);
  flex-grow: 0;
  .bgis-quicklink-header {
    @include menu-header(5 * $small-grid-size);
    // padding-bottom:$small-grid-size;
    padding: unset;
    .bgis-quicklink-close {
      position: absolute;
      top: 0;
      right: 0;
      height: auto;
    }
  }
  .bgis-quicklink-body {
    @include menu-header(11 * $grid-size);
    padding: unset;
    padding-left: $grid-size;
    padding-right: $grid-size;
    & > * {
      justify-content: center;
      flex-grow: 1;
      align-items: center;
    }
  }

  .bgis-sidebar.show-detail & {
    display: none;
  }
}

.bgis-map-area.show-detail .bgis-quicklink,
.bgis-map-area.maximizemap .bgis-quicklink,
.bgis-quicklink.hide {
  @extend %hide;
}
