@import "~/styles/scss/globals";

@mixin menu-minimal-responsive(
  $flex-grow: 0,
  $min-menu-width: $min-menu-width,
  $max-menu-width: $max-menu-width,
  $menu-width: $expandable-menu-width
) {
  flex-grow: $flex-grow;
  position: relative;
  @media only screen and (min-width: $desktop-min-width) {
    //min-width: $min-menu-width;
    //max-width: $max-menu-width;
    width: $menu-width;
  }
}

%bgis {
  @include flex(column);
  @include size(100%, 100%);
  box-sizing: border-box; // makes it easier to calculate the extents
  position: relative;
}

%header {
  @extend %hide; // Is only displayed in the desktop version.
}

%showheader-header {
  display: none; // Is only displayed in the desktop version.
  @media only screen and (min-width: $desktop-min-width) {
    box-sizing: border-box;
    display: unset;
    height: $header-height;
  }
}

%show-header {
  display: none;
  // only displayed on desktop
  @media only screen and (min-width: $desktop-min-width) {
    @include size($maximize-height, $maximize-width);
    display: unset;
    //margin: 0 $grid-size $grid-size $grid-size;
    position: absolute;
    right: 0;
    top: 0;
  }
}

%showheader-show-header {
  display: none;
}

%search {
  @include menu-minimal-responsive();
}

%legend {
  @include menu-minimal-responsive();
}

%teaser {
  display: none;
}

%showinfo-teaser {
  display: none;
}

%showquicklink-quicklink {
  @include menu-minimal-responsive();
  display: unset;
}

%toggle-menu {
  width: 100%;
}

%map {
  @include menu-minimal-responsive(2);
  @media only screen and (min-width: $desktop-min-width) {
    bottom: 0;
    height: unset;
    left: 0;
    max-height: unset;
    max-width: unset;
    position: absolute;
    right: 0;
    top: 0; // TODO muss beim ausbelenden des Headers größer werden.
    width: unset;
    z-index: -1;
  }
}

%showheader-map {
  @media only screen and (min-width: $desktop-min-width) {
    top: $header-height; // TODO muss beim ausbelenden des Headers größer werden.
  }
}

%showinfo-map {
  @media only screen and (min-width: $desktop-min-width) {
    left: $expandable-menu-width;
  }
}

%showlist-map {
  @media only screen and (min-width: $desktop-min-width) {
    right: $expandable-menu-width;
  }
}

%drag-handle {
  display: none;
}

%showinfo-drag-handle {
  @include menu-minimal-responsive();
  display: unset;
}

%info {
  display: none;
}

%showinfo-info {
  @include menu-minimal-responsive(2);
  display: unset;
}

%max-map {
  display: none;
}

%showinfo-max-map {
  display: none;
  @media only screen and (min-width: $desktop-min-width) {
    display: unset;
    left: $expandable-menu-width;
    position: absolute;
    top: $small-grid-size;
    z-index: 4;
  }
}

%showinfo-showheader-max-map {
  @media only screen and (min-width: $desktop-min-width) {
    top: $small-grid-size + $header-height;
  }
}

%view {
  display: none;
}

%showlist-view {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  @media only screen and (min-width: $desktop-min-width) {
    left: unset;
    width: $expandable-menu-width;
  }
}

%app-menu {
  display: none;
}

%showappmenu-app-menu {
  @include flex(column);
  bottom: 0;
  display: unset;
  left: 0;
  overflow: auto;
  position: absolute;
  top: $search-header-height;
  width: 95%;
  @media only screen and (min-width: $desktop-min-width) {
    max-width: calc(#{0.95 * 30%});
  }
}
