@import "~/styles/scss/globals"; // get the global definitions
@import "~/styles/scss/client-content";

.bgis-search {
  pointer-events: auto;
  @include menu($search-header-height, 1);
  & .bgis-search-header {
    @include menu-header($search-header-height);
    input {
      background-color: $primary-color;
      border: none;
      min-width: 0;
      display: block;
      width: 100%;
    }
    input:focus {
      outline: unset;
    }
  }
  & .bgis-search-body {
    @extend %hide;
  }
  &.open {
    flex-grow: 1;
    // flex-basis: inherit;
    max-height: 25%;
    .bgis-search-body {
      @include menu-body($search-header-height);
    }
  }
}

.bgis-map-area.maximizemap .bgis-search {
  @extend %hide;
}
