@import "~/styles/scss/globals"; // get the global definitions

.bgis-sidebar {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;
  @media only screen and (min-width: $desktop-min-width) {
    width: $desktop-menu-width + $grid-size;
    z-index: 1;
  }
  &.hide {
    display: none;
  }
}

.show-detail.bgis-sidebar {
  @include box-shadow();
  background-color: $background-color;
  pointer-events: auto;
  &.max {
    z-index: 1;
  }
}

.show-detail.bgis-sidebar.bgis-overlay-toggled-true {
  background: none;
}
