extends dev-site
block content
    div
        button(onclick='document.querySelector(".bgis-map-area").classList.toggle("hide-quicklink");return false;') toggle Quicklink |
        button(onclick='document.querySelector(".bgis-map-area").classList.toggle("show-map-details");return false;') toggle map details |
        button(onclick='document.querySelector(".bgis-map-area").classList.toggle("show-search-details");return false;') toggle search details |

        button(onclick='document.querySelector(".bgis-map-area").classList.toggle("show-toolbar");return false;') toggle Toolbar |
        button(onclick='document.querySelector(".bgis-map-area").classList.toggle("show-basemap");return false;') toggle Basemap |
        button(onclick='document.querySelector(".bgis-body").classList.toggle("show-app-menu");return false;') toggle App Menu |
        button(onclick='document.querySelector(".bgis-body").classList.toggle("show-listview");return false;') toggle Listview
    div(style='height:80vh;width:95vw;position:relative;')
        include client
